<html 	xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org">
	
	<HEAD>
	
		  <!--Import Google Icon Font-->
	      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	      
	      <!--Import materialize.css-->
	      <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
	      <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
	      <link type="text/css" rel="stylesheet" href="/materialize/css/menuresponsive.css"/>
	
	      <!--Let browser know website is optimized for mobile-->
	      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    		<script src="https://code.jquery.com/jquery-3.1.1.min.js"
           integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
           crossorigin="anonymous"></script>
		
			<meta charset="UTF-8"/>
			<TITLE>iAcademy: Professor</TITLE>
	</HEAD>
	
<body>

   		<!--JavaScript at end of body for optimized loading-->
		      <script type="text/javascript" src="materialize/js/materialize.js"></script>
		      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>		      
		      <script type="text/javascript" src="materialize/js/comportamento.js"></script>
        
        <select id="cadastroTreino"></select>
        
        <h4 class="center-align"> Cadastro de Treino: </h4>
        
		<div class="row">
				
			<form action="treinoSave" method="post" class="col s12">
	
					<div class="row">
						<div class="row">
						<div class="input-field col s1">
				          <label>ID-Treino: </label>
				          <input name="treino_iden" readonly="readonly">
				   		</div>
			        	     
				        <div class="input-field col s4">
				          <input id="turno" type="text" class="validate" name="turno">
				          <label for="turno">Turno: </label>
				        </div>
				     </div>
				     	<div class="input-field col s6">
				          <input id="professor" type="text" class="validate" name="professor">
				          <label for="professor">Professor Responsável: </label>
				        </div>
				        <div class="input-field col s6">
				          <input id="aluno" type="text" class="validate" name="aluno">
				          <label for="aluno">Aluno: </label>
				        </div>
				        <div class="input-field col s4">
				          <input id="treino_data_inicial" type="date" class="validate" name="treino_data_inicial">
				          <label for="treino_data_inicial">Data Inicial: </label>
				        </div>
				        
				        <div class="input-field col s4">
				          <input id="treino_vencimento" type="date" class="validate" name="treino_vencimento">
				          <label for="treino_vencimento">Vencimento do treino: </label>
				        </div>
				       	<div class="input-field col s11">							
								<button class="btn waves-effect waves-light right" type="submit" name="action">Salvar
									<i class="material-icons right">save</i>
								</button>
						</div>	 	
							
					</div>					
					
				</form>
		
			</div>	
			
			<select>
			
			<select id="buscaTreino"></select>
			<div class="table-responsive{-sm|-md|-lg|-xl|-xxl}">
	  			
	  			<table class="layout display responsive-table">
					
					<thead>
					    <tr>
					      <th scope="col">ID-Treino</th>					      
					      <th scope="col">Aluno</th>					      
					      <th scope="col">Professor</th>
					      <th scope="col">Modalidade</th>
					      <th scope="col">Turno</th>
					      <th scope="col">Data Inicial</th>
					      <th scope="col">Vencimento</th>
	  					</tr>
	  				</thead>
	  				<tbody>
					<tr th:each="treino : ${treinos}">
													
						<td th:text="${treino_iden}"></td>
						<td th:text="${aluno}"></td>
						<td th:text="${professor}"></td>
						<td th:text="${modalidade}"></td>
						<td th:text="${turno}"></td>
						<td th:text="${treino_data_inicial}"></td>
						<td th:text="${treino_vencimento}"></td>
						<td>
							<a th:href="@{/treinoEdit/{id_treino}(id_treino=${treino.treino_iden})}">
								<i class="material-icons">edit</i>					
							</a>				
						</td>
							
					</tr>
					
				</tbody>
				
			</table>
									
		</div>
		</select>
		
		
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->


    <!-- Menu Toggle Script -->
	<script>
		$("#menu-toggle").click(function(e) {
		    e.preventDefault();
		    $("#wrapper").toggleClass("toggled");
		});
	</script>
</body>
</html>