<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymelaf.org">
	
	<head>
      	<!--Import Google Icon Font-->
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	      
	    <!--Import materialize.css-->
	    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.css"  media="screen,projection"/>
	
	    <!--Let browser know website is optimized for mobile-->
	    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
		<meta charset="utf-8"/>
		<TITLE>iAcademy: Montagem de treino</TITLE>
		
	</HEAD>
	
	<BODY class="#e3f2fd blue lighten-5">
		 

				
	    <!--JavaScript at end of body for optimized loading-->
		<script type="text/javascript" src="materialize/js/materialize.js"></script>
		<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
		
		<div class="row"></div>
		
		<div class="row">
    		<div class="col s2">
			<div class= "left">
				<a href="/">
					<button class="btn" type="button" name="action">Home
							 <i class="material-icons left #e88e">home</i>
						</button>
				</a>	
			</div>
			</div>
			<div class="col s3">
				<a href="/treinoAll">
					<button class="btn waves-effect waves-light" type="submit" name="action">Treinos Cadastrados
				 		<i class="material-icons right">feed</i>
					</button>
				</a>
			</div>
			<div class="col s10">
			<div class= "right">
				<a href="/logout">
			   		<button class="btn btn-default btn-xs" type="button" name="action">
						 <i class="material-icons right">logout</i>
					</button>
				</a>
			</div>
		</div>
    	</div>	
	
		<h4 class="center-align"> Cadastro de Treino: </h4>
		<div class="row">
				
			<form action="treinoSave" method="post" class="col s12">
	
					<div class="row">
						<div class="row">
						<div class="input-field col s1">
				          <label>ID-Treino: </label>
				          <input name="treino_iden" readonly="readonly">
				   		</div>
				   		
			        	<div class="input-field col s7">
				          <input id="modalidade" type="text" class="validate" name="modalidade">
				          <label for="modalidade">Modalidade: </label>
				        </div>
			       
				        <div class="input-field col s4">
				          <input id="turno" type="text" class="validate" name="turno">
				          <label for="turno">Turno: </label>
				        </div>
				     </div>
				     	<div class="input-field col s6">
				          <input id="professor" type="text" class="validate" name="professor">
				          <label for="professor">Professor Responsável: </label>
				        </div>
				        <div class="input-field col s6">
				          <input id="aluno" type="text" class="validate" name="aluno">
				          <label for="aluno">Aluno: </label>
				        </div>
				        <div class="input-field col s4">
				          <input id="treino_data_inicial" type="date" class="validate" name="treino_data_inicial">
				          <label for="treino_data_inicial">Data Inicial: </label>
				        </div>
				        
				        <div class="input-field col s4">
				          <input id="treino_vencimento" type="date" class="validate" name="treino_vencimento">
				          <label for="treino_vencimento">Vencimento do treino: </label>
				        </div>
				       	<div class="input-field col s11">							
								<button class="btn waves-effect waves-light right" type="submit" name="action">Salvar
									<i class="material-icons right">save</i>
								</button>
						</div>	 	
							
					</div>					
					
				</form>
		
			</div>	
			
			<div class="table-responsive{-sm|-md|-lg|-xl|-xxl}">
	  			
	  			<table class="table table-bordered border-primary table-responsive">
					
					<thead>
					    <tr>
					      <th scope="col">ID-Treino</th>					      
					      <th scope="col">Aluno</th>					      
					      <th scope="col">Professor</th>
					      <th scope="col">Modalidade</th>
					      <th scope="col">Turno</th>
					      <th scope="col">Data Inicial</th>
					      <th scope="col">Vencimento</th>
	  					</tr>
	  				</thead>
	  				<tbody>
					<tr th:each="treino : ${treinos}">
													
						<td th:text="${treino_iden}"></td>
						<td th:text="${aluno}"></td>
						<td th:text="${professor}"></td>
						<td th:text="${modalidade}"></td>
						<td th:text="${turno}"></td>
						<td th:text="${treino_data_inicial}"></td>
						<td th:text="${treino_vencimento}"></td>
						<td>
							<a th:href="@{/treinoEdit/{id_treino}(id_treino=${treino.treino_iden})}">
								<i class="material-icons">edit</i>					
							</a>				
						</td>
							
					</tr>
					
				</tbody>
				
			</table>
									
		</div>
					
	</body>
</html>