<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org">
	
<HEAD>

	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
	<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
	<link type="text/css" rel="stylesheet" href="/materialize/css/styleForms.css"/>
 	<!--Import materialize.css-->
     <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
     <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
	<!--Let browser know website is optimized for mobile-->
	 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	    
	<!--Import JavaScript-->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/41fa5d1383.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/materialize.min.js"></script>
	
	<meta charset="UTF-8"/>
	
	<TITLE>iAcademy: Professor</TITLE>

</HEAD>
    
<BODY>
	
	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="/materialize/js/materialize.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	
	<div class="sidenav-close" id="page-content-wrapper">
	
	     <header>
	        <div> 
	        	<a href="/homeAdm"><img src="../materialize/images/iacademy.jpg" class="responsive">
	        	<img src="../materialize/images/headerlogo.jpg" class="responsive"></a>
	        </div>
	     </header>
	     
         <div class="container-fluid">
         
	 	<h3> Cadastro de Funcionário Professor: </h3>
	 	
	 	<div class="divider"></div>
	 		
		<div class="row">
		
			<form class="col s12">
				
				<div class="input-field col s2">
		          <label>ID-Pessoa: </label>
		          <input name="pes_iden" disabled type="number">
		   		</div>
		   		
		   		<div class="input-field col s2">
		          <label>ID-Funcionario: </label>
		          <input name="func_iden" disabled type="number">
		   		</div>
		        
		        <div class="input-field col s8">
		          <input id="pes_prim_nome" autocomplete="off" type="text">
		          <label for="pes_prim_nome">Nome: </label>
		        </div>
		
		        <div class="input-field col s4">
		          <input id="pes_sobrenome" autocomplete="off" type="text" name="pes_sobrenome">
		          <label for="pes_sobrenome">Sobrenome: </label>
		        </div>
	     			
				<div class="input-field col s4">
		          <input id="pes_data_nasc" autocomplete="off" type="text" class="datepicker" name="pes_data_nasc">
		          <label for="pes_data_nasc">Data de Nascimento: </label>
		        </div>
		        
		        <div class="row">
			        <div class="input-field col s1">		        
			          <label>
				        <input name="pes_genero" id="pes_genero" type="radio" checked value="FEMININO"/>
				        <span>Feminino</span>
				      </label>
				     </div>
				     <div class="input-field col s1">
				      <label>
				        <input name="pes_genero" id="pes_genero" type="radio" checked value="MASCULINO"/>
				        <span>Masculino</span>
				      </label>	
				      </div>
				      <div class="input-field col s1">
				      <label>
				        <input name="pes_genero" id="pes_genero" type="radio" checked value="NAODEFINIDO"/>
				        <span>Não definido</span>
				      </label>		      
			        </div>
		        </div>
				
				<div class="input-field col s4">
		          <input id="pes_naturalidade" type="text" autocomplete="off" name="pes_naturalidade">
		          <label for="pes_naturalidade">Naturalidade: </label>
		        </div>
	
				<div class="input-field col s4">
		          <input id="pes_nacionalidade" type="text" autocomplete="off" name="pes_nacionalidade">
		          <label for="pes_nacionalidade">Nacionalidade: </label>
		        </div>
	
				<div class="input-field col s4">
		          <input data-length="11" id="pes_cpf" autocomplete="off" type="number" class="validate" name="pes_cpf" placeholder="Digite somente números">
		          <label  for="pes_cpf">CPF </label>
		        <span class="helper-text" data-error="CPF inválido" data-success="CPF válido!"></span>
		        </div>
	
				<div class="input-field col s4">
		          <input id="pes_rg" type="number" autocomplete="off" class="validate" name="pes_rg">
		          <label for="pes_rg">RG: </label>
		        </div>
	
		        <div class="input-field col s4">
		          <input id="pes_rg_emissao" autocomplete="off" type="text" class="datepicker" name="pes_rg_emissao">
		          <label for="pes_rg_emissao">Data de emissão: </label>
		        </div>
										
				<div class="input-field col s4">
		          <input id="pes_telefone" type="number" autocomplete="off" name="pes_telefone" class="validate">
		          <label for="pes_telefone">Telefone: </label>
		        </div>
								
				<br />
				
				<div class="input-field col s12">
		          <input id="pes_endereco" autocomplete="off" type="text"name="pes_endereco">
		          <label for="pes_endereco">Endereço: </label>
		        </div>
							
				<div class="input-field col s2">
		          <input data-length="7" autocomplete="off" id="func_cpts" type="number" class="validate" name="func_cpts" placeholder="Digite somente números">
		          <label for="func_cpts">CPTS: </label>
		          <span class="helper-text" data-error="CPTS inválido" data-success="CPTS válido!"></span>
		        </div>
		        
		        <div class="input-field col s2">
		          <input data-length="4" id="func_serie_cpts" autocomplete="off" type="number" class="validate" name="func_serie_cpts" placeholder="Digite somente números">
		          <label for="func_serie_cpts">Serie da CPTS: </label>
		          <span class="helper-text" data-error="Inválido" data-success="Válido!"></span>
		        </div>
		        
		        <div class="input-field col s2">
		          <input id="func_pis" type="number" name="func_pis" autocomplete="off" placeholder="Digite somente números">
		          <label for="func_pis">PIS: </label>
		        </div>
		        
		        <div class="input-field col s2">
		          <input data-length="11" id="func_cnh" type="number" autocomplete="off" name="func_cnh" placeholder="Digite somente números">
		          <label for="func_cnh">Número da CNH: </label>
		          <span class="helper-text" data-error="Inválido" data-success="Válido!"></span>
		      	</div>
		        
		        <div class="input-field col s2">
		          <input id="func_cnh_categ" type="text" autocomplete="off" name="func_cnh_categ">
		          <label for="func_cnh_categ">Categoria da CNH: </label>
		        </div>
		        
				<div class="input-field col s2">
		          <input id="func_cnh_validade" autocomplete="off" type="text" class="datepicker" name="func_cnh_validade">
		          <label for="func_cnh_validade">Válidade da CNH: </label>
		        </div>
		        
		        <div class="input-field col s12 ce">
		         <label for="estadoCivil">Estado Civil: </label>
		       
			        <div class="input-field col s2">		        
			          <label>
				        <input name="estadoCivil" id="estadoCivil" type="radio" checked value="SOLTEIRO"/>
				        <span>Solteiro(a)</span>
				      </label>
				     </div>
				     <div class="input-field col s2">		        
			          <label>
				        <input name="estadoCivil" id="estadoCivil" type="radio" checked value="CASADO"/>
				        <span>Casado(a)</span>
				      </label>
				     </div>
				     <div class="input-field col s2">		        
			          <label>
				        <input name="estadoCivil" id="estadoCivil" type="radio" checked value="DIVORCIADO"/>
				        <span>Divorciado(a)</span>
				      </label>
				     </div>
				     <div class="input-field col s2">
				      <label>
				        <input name="estadoCivil" id="estadoCivil" type="radio" checked value="SEPARADO"/>
				        <span>Separado(a)</span>
				      </label>	
				      </div>
				      <div class="input-field col s2">
				      <label>
				        <input name="estadoCivil" id="estadoCivil" type="radio" checked value="VIUVO"/>
				        <span>Viúvo(a)</span>
				      </label>		      
			        </div>
		        </div>
		        <div class="input-field col s12">
		          <input id="func_escolaridade" type="text" autocomplete="off" name="func_escolaridade">
		          <label for="func_escolaridade">Escolaridade: </label>
		        </div>
		        
		        <div class="input-field col s12">
		          <input id="func_nome_conjuge" type="text" autocomplete="off" name="func_nome_conjuge">
		          <label for="func_nome_conjuge">Nome Cônjuge: </label>
		        </div>
		        
		        <div class="input-field col s12">
		          <input id="func_nome_mae" type="text" autocomplete="off" name="func_nome_mae">
		          <label for="func_nome_mae">Nome da mãe: </label>
		        </div>
		        
		        <div class="input-field col s12">
		          <input id="func_nome_pai" type="text" autocomplete="off" name="func_nome_pai">
		          <label for="func_nome_pai">Nome do pai: </label>
		        </div>
		        
		        <div class="input-field col s12">
		          <input id="pes_orient_medic" type="text" autocomplete="off" name="pes_orient_medic">
		          <label for="pes_orient_medic">Orientação Médica: </label>
		        </div>
		        
		        <div class="input-field col s2">
		          <input id="func_admissao" autocomplete="off" type="text" class="datepicker" name="func_admissao">
		          <label for="func_admissao">Admissão: </label>
		        </div>
		        
		        <div class="input-field col s2">
		          <input id="func_demissao" autocomplete="off" type="text" class="datepicker" disabled name="func_demissao">
		          <label for="func_demissao">Demissão: </label>
		        </div>
		        
				<div class="input-field col s2">
		          <input id="prof_confef" type="number" autocomplete="off" name="prof_confef">
		          <label for="prof_confef">CONFEF: </label>
		        </div>
		        
				<div class="input-field col s2">
		          <label>ID-Professor: </label>
		          <input name="prof_iden" disabled type="number">
		   		</div>
		   		<div class="row">
				<div class="input-field col s10">							
					<button action="professorSave" method="POST" met class="btn waves-effect waves-light right" type="submit" name="action">Salvar
						<i class="material-icons right">save</i>
					</button>
				</div>
					
				</form>	
								
				<div class="input-field col s2">
					<a href="/homeAdm">						
					<button class="btn waves-effect waves-light left" type="button"  onClick="Cancel()">Cancelar
						<i class="material-icons rigth">cancel</i>
					</button>
					</a>
				</div>
				
			</div>
		
		</div>
		
	</div>
	
	<script>
	
	$(document).ready(function(){
	    $('.datepicker').datepicker()
	});
	  function Cancel(){
		  	location.href= "homeAdm"
		  };
	  
	</script>

</BODY>

</html>