<!DOCTYPE html>

<html>
  
	  <head>
	  
			<!--Import Google Icon Font-->
	      	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	      
	      	<!--Import materialize.css-->
	     	 <link type="text/css" rel="stylesheet" href="materialize/css/materialize.css"  media="screen,projection"/>
	
	     	 <!--Let browser know website is optimized for mobile-->
	     	 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
	
			<meta charset="utf-8"/>
			<TITLE>Sistema iAcademy</TITLE>
		
	</HEAD>
	
	<BODY class="#e0e0e0 grey lighten-2">
		
				
	    	  <!--JavaScript at end of body for optimized loading-->
		      <script type="text/javascript" src="materialize/js/materialize.js"></script>
		      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	
    	<div class="row"></div>
    	
    	<div class="row">
    		<div class="col s2">
			<div class= "left">
				<a href="/">
					<button class="btn" type="button" name="action">Home
							 <i class="material-icons left #e88e">home</i>
						</button>
				</a>	
			</div>
			</div>
						    		
    		<div class="row">
    		<div class="col s2">
			    <a href="/cadastroPessoa">
			    	<button class="btn waves-effect waves-light" type="button" name="action">Cad. Pessoas
						 <i class="material-icons right">groups</i>
					</button>
				</a>
			</div>
			
			<div class="col s2">
			    <a href="/cadastroAluno">
			    <button class="btn waves-effect waves-light" type="button" name="action">Cad. Alunos
						 <i class="material-icons right">people</i>
					</button>
				</a>
			</div>
			
			<div class="col s2">
			    <a href="/cadastroEmpresa">
			    <button class="btn waves-effect waves-light" type="button" name="action">Cad. Empresas
						 <i class="material-icons right">business</i>
					</button>
				</a>
			</div>
			
			<div class="col s2">
			    <a href="/cadastroTreino">
			    <button class="btn waves-effect waves-light" type="button" name="action">Cad. Treino
						 <i class="material-icons right">fitness_center</i>
					</button>
				</a>
			</div>
			
			<div class="col s2">
			<div class= "right">
				<a href="/logout">
			   		<button class="btn btn-default btn-xs" type="button" name="action">
						 <i class="material-icons right">logout</i>
					</button>
				</a>
			</div>
			</div>
		</div>
		</div>
	    <div class=" center-align">
	 		<div class="row">
          	<div class="#e0e0e0 grey lighten-2">
          		<br/>
	    		<h2 class="center-align">Bem-vindo ao Sistema iAcademy</h2>
	    		<div class="col s1"></div>
	    		<div class="col s10">
	    			<p class="flow-text center-align">O Sistema iAcademy conta com ferramentas para 
	    			auxiliar na gestão de academias e proporcionar facilidades na montagem de treinos para seus alunos.</p>
    			</div>
    		</div>
			</div>
		
			<div class=" center-align">
			<img class="responsive-img" width="400" height="300" src="materialize/images/iconeLogo.jpg">
			</div>
   		</div>
  </body>
  
</html>