<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org">
	
<HEAD>

	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
	<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
	<link type="text/css" rel="stylesheet" href="/materialize/css/menuresponsive.css"/>
	
	<!--Let browser know website is optimized for mobile-->
	 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	    
	<!--Import JavaScript-->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/41fa5d1383.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/materialize.min.js"></script>
	
	<meta charset="UTF-8"/>
	
	<TITLE>iAcademy: Administrador</TITLE>

</HEAD>
    
<BODY>
	<!-- INICIO DE Wrapper -->
	<div id="wrapper">
	
		<!-- INICIO DE Sidebar -->
	
		<div id="sidebar-wrapper">

			<ul class="sidebar-nav">
               
                <li class="sidebar-brand center">
					<a href="#">
						Bem-vindo(a)!
					</a>
                <li>
      	              <a href="/formAddFuncionario" id="#cadastroFuncionario">Cadastrar Funcionários<i class="fas fa-id-card left"></i></a>
                </li>
                <li>
                    <a href="/formAddProfessor" id="#cadstroProfessor">Cadastrar Professor<i class="material-icons left">people_alt</i></a>
                </li>
                <li>
      	              <a href="/formAddAlunoAdm" id="#cadastroAluno">Cadastrar Aluno<i class="material-icons left">person_add</i></a>
                </li>
                <li>
                    <a href="/formAddEmpresa" id="#cadstroEmpresas">Cadastrar Empresas<i class="material-icons left">business</i></a>
                </li>
                <li>
                    <a href="/pagamentos" id="#pagamentos">Pagamentos<i class="fas fa-money-check-alt left"></i></a>
                </li>       
                <li>
                    <a href="/buscarFuncionario" id="#buscarFuncionario">Pesquisar Funcionário<i class="fas fa-search left"></i></a>
                </li>
                <li>
                    <a href="/buscarProfessor" id="#buscarProfessor">Pesquisar Professor<i class="fas fa-search left"></i></a>
                </li>
                <li>
                    <a href="/buscarAluno" id="#buscarAluno">Pesquisar Aluno<i class="fas fa-search left"></i></a>
                </li>
                <li>
					<div class="divider"></div>
				</li>
				<li>
				    <a href="/logout" id="#logout">Sair<i class="fas fa-sign-out-alt"></i></a>
				</li>
             </ul>

		</div>
		<!-- FIM DE /#sidebar-wrapper -->
		
		<!-- BOTÃO OCULTAR E EXPANDIR MENU" -->
		
        <a id="menu-toggle" href="#menu">
			<span class="large material-icons black-text">menu</span>
		</a>
		
		
        <!-- INICIO DE Page Content -->
        
		<div class="sidenav-close" id="page-content-wrapper">
	        <header>
	        	<div> 
	        		<img src="../materialize/images/iacademy.jpg" class="responsive">
	        		<img src="../materialize/images/headerlogo.jpg" class="responsive">
	        	</div>
	        </header>
            <div class="container-fluid">

				<div class="row">
					<div class="col s2 m6">	
    					
    					<a href="/formAddAlunoAdm">
    						<div class="card-panel center">
	     						<div class="card-image">
								    <img src="../materialize/images/cadastroAluno.jpg">
								        <p><h4>Cadastrar Aluno</h4></p>
							        </div>
							</div>
						</a>
						<a href="/formAddFuncionario">
							<div class="card-panel center">
						    
	     						<div class="card-image">
								    <img src="../materialize/images/cadastrar.jpg">
								        <p><h4>Cadastrar Funcionário</h4></p>
							    </div>
							</div>
						</a>
					</div>
						<div class="col s2 m6">	
    							<a href="/formAddEmpresa">
    								<div class="card-panel center">
						        		<div class="card-image">
									        <img src="../materialize/images/cadastroEmpresa.jpg">
									        <p><h4>Cadastrar Empresa</h4></p>
								        </div>
								    </div>
								</a>
						   	 	<a href="/pagamentos">
						   	 		<div class="card-panel center">
						        		<div class="card-image">
									        <img src="../materialize/images/dinheiro.jpg">
									        <p><h4>Pagamentos</h4></p>
								        </div>
									</div>
								</a>
							</div>
						</div>
					</div>
	            </div>
	        </div>

    <!-- FIM DE /#page-content-wrapper -->

    </div>
    	
	<!-- FIM DE /#wrapper -->

	<!-- Menu Toggle Script -->
	<script>
	
		$("#menu-toggle").click(function(e) {
		    e.preventDefault();
		    $("#wrapper").toggleClass("toggled");
		});
		
		$(document).ready(function(){
		    $('.modal').modal();
		  });
		
	</script>
		
</BODY>

</html>